.popup__form-name {
    width: 358px;
    border: 0;
    border-bottom: 1px solid #000000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 9px;
    margin: 48px 35px 0;
}

@media screen and (max-width: 444px) {
    .popup__form-name {
        max-width: 238px;
        margin-top: 73px;
        margin-left: 20px;
        margin-right: 20px;
    }
}