.profile {
    max-width: 880px;
    border: 1px solid red;
    margin: 0 auto;
    padding-top: 40px;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
}