.popup__button {
    width: 358px;
    height: 50px;
    background-color: #000000;
    border-radius: 2px;
    margin: 48px 36px 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.popup__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

@media screen and (max-width: 444px) {
    .popup__button {
        max-width: 238px;
        max-height: 46px;
        margin-top: 44px;
        margin-left: 22px;
        margin-right: 22px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}