.popup__form {
    width: 358px;
    border: none;
    border-bottom: 1px solid #000;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    padding: 0 0 9px;
    margin: 30px 36px 0;
    cursor: pointer;
}

.popup__form:first-child {
    padding-bottom: 9px;
    margin: 48px 35px 0;
}

@media screen and (max-width: 444px) {

    .popup__form {
        padding-bottom: 9px;
        max-width: 238px;
        margin-left: 22px;
    }

    .popup__form:first-child {
        max-width: 238px;
        margin-top: 0;
        margin-left: 22px;
    }
}