.gallery__cards {
  position: relative;
  width: 282px;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 282px auto;
  grid-template-areas:
    "image image"
    "text icon";
}
