.popup__close-icon {
    position: absolute;
    z-index: 2;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-Icon.svg);
    background-repeat: no-repeat;
    top: -40px;
    right: -40px;
    border: none;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
}

.popup__close-icon:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 666px) {
    .popup__close-icon {
        background-size: 98% 98%;
        width: 20px;
        height: 20px;
        z-index: 3;
        right: 0;
        top: -36px;
    }

}